.upload-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.preview {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 220px;
  height: 220px;
  
  .mat-icon {
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    color: #3f51b5;
    background:#fff;
  }
}
.preview img {
  max-width: 220px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  padding: 12px;
}